<main class="blog-index-page">
    <div class="blog-index-page__content">
        <h1>{{ title }}</h1>
        <div>{{ content }}</div>

        {{ collection from="blog" as="posts" paginate="true" limit="1" }}
            {{ posts scope="post" }}
                <article class="blog-index-page__article {{ if last }}blog-index-page__article--last{{ /if }}">
                    <a class="blog-index-page__article-link" href="{{ post:url }}">

                        {{ if post:featured_image }}
                        <img src="{{ post:featured_image }}" alt="{{ featured_image_alt_tag }}">
                        {{ /if }}

                        <h2 class="blog-index-page__article-title">{{ post:title }}</h2>

                        <p>{{ post:excerpt }}</p>

                        <p>Read More...</p>

                        <footer class="blog-index-page__article-footer">Published {{ post:date | relative }}</footer>

                    </a>
                </article>
            {{ /posts }}

            {{ partial:pagination }}
        {{ /collection }}
    </div>
</main>
