<main class="container projects-index-page">
    <div class="projects-index-page__content">
        <h1 class="projects-index-page__title">{{ title }}</h1>
        <div>{{ content }}</div>

        {{ collection from="projects" as="posts" paginate="true" limit="6" }}
            {{ posts }}
                <article class="projects-index-page__article {{ if last }}projects-index-page__article--last{{ /if }}">
                    <a class="projects-index-page__article-link" href="{{ url }}">
                        {{ assets:featured_image }}
                        <img class="projects-index-page__article-image" src="{{ url }}" title="{{ title }}" alt="{{ alt }}">
                        {{ /assets:featured_image }}

                        <div class="projects-index-page__article-text">
                            <h2 class="projects-index-page__article-title">{{ title }}</h2>
                            <p>{{ excerpt }}</p>
                            <p>Read More...</p>
                            <footer class="projects-index-page__article-footer">Published {{ date | relative }}</footer>
                        </div>
                    </a>
                </article>
            {{ /posts }}

            {{ partial:pagination }}
        {{ /collection }}
    </div>
</main>
