.blog-post {
    padding-top: $main-nav-height;
}

.blog-post__container {
    padding: 1rem;
}

.blog-post__back {
    font-size: 2rem;
    margin: 0;
}

.blog-post__back-link {
    color: inherit;
    text-decoration: none;
}

.blog-post__back-link:hover {
    text-decoration: underline;
}

.blog-post__title {
    margin: 0;
}

.blog-post__featured-image {
    padding-top: 50%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-size: cover;
    background-position: center;
}

.blog-post__footer {
    color: $dark-grey;
    font-size: .75rem;
}

@media (min-width: $desktop) {
    .blog-post {
        padding-top: $main-nav-height-large
    }

    .blog-post__featured-image {
        padding-top: 25%;
    }
}
