.blog-index {
    padding-top: $main-nav-height;
}

.blog-index__content {
    padding: 1rem;
}

.blog-index__title {
    margin: 0;
}

.blog-index__article {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: 1px solid $medium-grey;
    margin-bottom: 1rem;
}

.blog-index__article--last {
    margin-bottom: 0;
    border-bottom: none;
}

.blog-index__article-link {
    color: inherit;
    text-decoration: none;
    display: block;
}

.blog-index__article-link:hover {
    text-decoration: underline;
}

.blog-index__article-image {
    padding-top: 50%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-size: cover;
    background-position: center;
}

.blog-index__article-text {
    padding: 1rem;
}

.blog-index__article-title {
    margin-top: 0;
}

.blog-index__article-footer {
    color: $dark-grey;
    font-size: .75rem;
}

@media (min-width: $desktop) {
    .blog-index__article-image {
        padding-top: 25%;
    }
}
