* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Lora', serif;
    color: $font-color;
}

html, body {
    height: 100%;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

blockquote {
    color: $dark-grey;
}
