.footer {
    padding: 1rem;
    text-align: center;
    font-size: .75rem;
    color: $dark-grey;
}

.footer__link {
    color: inherit;
}

.footer__icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__icon {
    display: inline-block;
}

.footer__link--icon {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
}

.footer__link--icon:hover {
    color: $primary;
}
