.pagination {
    text-align: center;
}

.pagination__button {
    display: inline-block;
    padding: .5rem 1rem;
    color: #fff;
    background-color: $primary;
}

.pagination__button--disabled {
    opacity: .25;
}

.pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
    }

    li:first-child {
        .pagination__button {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    }

    li:last-child {
        .pagination__button {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    a {
        text-decoration: none;
    }
}
