.blog-index-page {
    padding-top: $main-nav-height;
}

.blog-index-page__content {
    padding: 1rem;
}

.blog-index-page__article {
    background-color: #fff;
    border-radius: $border-radius;
    margin-bottom: 1rem;
}

.blog-index-page__article--last {
    margin-bottom: 0;
}

.blog-index-page__article-link {
    color: inherit;
    text-decoration: none;
    display: block;
}

.blog-index-page__article-link:hover {
    text-decoration: underline;
}

.blog-index-page__article-image {
    width: 100%;
    max-width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.blog-index-page__article-text {
    padding: 1rem;
}

.blog-index-page__article-title {
    margin-top: 0;
}

.blog-index-page__article-footer {
    color: $dark-grey;
    font-size: .75rem;
}
