.home-page {
    height: 100%;
    display: flex;
    padding-top: $main-nav-height;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 70%;
        background-image: url('../img/elephant.svg');
        background-repeat: no-repeat;
        background-position: 110% center;
        opacity: .05;
        pointer-events: none;
    }
}

.home-page__content {
    margin: auto;
    position: relative;
    padding: 1rem;
}

.home-page__square {
    height: 10rem;
    width: 10rem;
    background-color: $background-color;
    background-image: $primary-gradient;
    display: inline-block;
    position: absolute;
    left: -4.5rem;
    top: -3rem;
    border-radius: $border-radius;
    animation: 10s 4s square-to-circle infinite;
}

.home-page__text {
    position: relative;
    color: #fff;
}

.home-page__title {
    margin: 0;
}

@keyframes square-to-circle {
    from, 60%, to {
      border-radius: $border-radius;
    }
    10%, 50% {
        border-radius: 100%;
    }
  }
